<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="956d3b3a-57b8-4541-927f-312dea7184e1" name="TEST" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="956d3b3a-57b8-4541-927f-312dea7184e1fileName">TEST</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
