<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3cf0c5d7-5967-4bd7-91b7-85394d59b879" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3cf0c5d7-5967-4bd7-91b7-85394d59b879fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
